


#app {
    height: 100vh;
  width: 100vw;
  margin: 0 10px;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor{
  cursor: pointer;
}

.chip{
    color: #eee;
    background-image: linear-gradient(62deg,
            rgba(7, 86, 160, 0.973) 13%,
            rgba(255, 122, 151, 0.5) 4%),
        linear-gradient(44deg,
            rgba(0, 43, 99, 0.079) 39%,
            rgba(242, 140, 143, 0.5) 18%),
        linear-gradient(11deg,
            rgba(84, 202, 242, 0.031) 40%,
            rgba(247, 155, 187, 0.5) 54%),
        linear-gradient(58deg,
            rgba(90, 90, 237, 0.161) 83%,
            rgba(249, 156, 142, 0.5) 23%);
    border-radius: 5000px;
    padding: 2px 10px;
    text-align: center;
    margin: 0 2px;
    
    cursor: pointer;
    transition: 0.3s;
}
.chip:hover {
  background-image:
      linear-gradient(58deg,
          rgba(90, 90, 237, 0.161) 83%,
          rgba(249, 156, 142, 0.5) 23%),
      linear-gradient(11deg,
          rgba(84, 202, 242, 0.031) 40%,
          rgba(247, 155, 187, 0.5) 54%),
      linear-gradient(44deg,
          rgba(0, 43, 99, 0.079) 39%,
          rgba(242, 140, 143, 0.5) 18%),
      linear-gradient(62deg,
          rgba(7, 86, 160, 0.973) 13%,
          rgba(255, 122, 151, 0.5) 4%);
}

.chip-active {
    position: absolute;
    bottom:10px;
    width: 50%;
    z-index: 100;
  background-image:
      linear-gradient(58deg,
          rgba(90, 90, 237, 0.161) 83%,
          rgba(249, 156, 142, 0.5) 23%),
      linear-gradient(11deg,
          rgba(84, 202, 242, 0.031) 40%,
          rgba(247, 155, 187, 0.5) 54%),
      linear-gradient(44deg,
          rgba(0, 43, 99, 0.079) 39%,
          rgba(242, 140, 143, 0.5) 18%),
      linear-gradient(62deg,
          rgba(7, 86, 160, 0.973) 13%,
          rgba(255, 122, 151, 0.5) 4%);
}
