@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap");

* {
  box-sizing: border-box;
}
:root {
  --checkbox-color: rgb(202, 60, 60);
  --checkbox-shadow: rgba(238, 156, 167, 0.2);
  --add-button: rgba(255, 255, 255, 0.7);
  --add-button-shadow: rgba(238, 156, 167, 0.4);

  /* background-color: #242424; */

}

body {
  width: 100%;
  height: 100vh;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      62deg,
      rgba(7, 86, 160, 0.973) 13%,
      rgba(255, 122, 151, 0.5) 4%
    ),
    linear-gradient(
      44deg,
      rgba(0, 43, 99, 0.079) 39%,
      rgba(242, 140, 143, 0.5) 18%
    ),
    linear-gradient(
      11deg,
      rgba(84, 202, 242, 0.031) 40%,
      rgba(247, 155, 187, 0.5) 54%
    ),
    linear-gradient(
      58deg,
      rgba(90, 90, 237, 0.161) 83%,
      rgba(249, 156, 142, 0.5) 23%
    );
  background-blend-mode: normal, lighten, multiply, hard-light;
  font-family: "Quicksand", "Poppins", "Roboto", sans-serif;
  overflow: hidden;
}
input {
  outline: none;
}
ul {
  list-style: none;
  padding: 0;
}
.app-container {
  width: 98vw;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 25px;
  border-radius: 25px;
  overflow: auto;
  color: #222;
}
.app-header {
  font-size: 20px;
  line-height: 32px;
  margin: 0 0 12px 0;
  color: #272727;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  
}

